<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="magenest" translate="label" sortOrder="500">
            <label>Magenest</label>
        </tab>

        <section id="movie" translate="label" type="text" sortOrder="100"
                 showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Movie</label>
            <tab>magenest</tab>
            <resource>Magenest_Ui::config_movie</resource>
            <group id="hellopage" translate="label" type="text" sortOrder="1"
                   showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Movie page settings</label>
                <field id="header_title" translate="label" type="text"
                       sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Text Field</label>
                </field>
                <field id="field" translate="label" type="select"
                       sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Yes/No_Field_</label>

                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="custom_select_field" translate="label" type="select"
                       sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Custom Select Field</label>
                    <source_model>Magenest\Ui\Model\Config\Source\Relation</source_model>
                </field>
                <field id="rows_table_movie" translate="label" type="text"
                       sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Rows in table “magenest_movie”</label>
                    <frontend_model>Magenest\Ui\Block\Adminhtml\Movie\ReadOnly</frontend_model>
                </field>
                <field id="rows_table_actor" translate="label" type="text"
                       sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Rows in table “magenest_actor”</label>
                    <frontend_model>Magenest\Movie\Block\Adminhtml\Magenestactor\ReadOnly</frontend_model>

                </field>
                <field id="button" translate="label" type="submit"
                       sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="1">
                    <frontend_model>Magenest\Ui\Block\Adminhtml\Movie\Reload</frontend_model>

                </field>
            </group>
        </section>
    </system>

</config>